.left{
    text-align:left;
}
.right{
    text-align:right;
}
.center{
    text-align:center;
    padding-left:5px;
    padding-right:5px;
}
h3 {
    margin-top: 40px;
    text-align: center;
}


.col-md-2 span {
    color: #843534;
    font-weight: 800;
    font-size: 40px;
}

.row h4{
    margin-top:30px;
}

.list{
    max-width:400px;
    margin-left:auto;
    margin-right:auto;
}

.title{
    margin-left:auto;
    margin-right:auto;
}
.border {
    border: 5px solid red;
}
small{
    color:black;
}
a{
    background: #2e6da4;
    color:white;
}
body{
    background-color:#bc994e;
    color:black;
}
.panel-body{
    background-color: rgba(223,242,0,0.5);
}
.panel .panel-heading{
    background-color:  rgba(232,5,5,0.5);
}
.list-group-item{
    background-color: rgba(200,220,0,0.5);

 }
