<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>幸运生肖</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/bootstrap.min.js" type="text/javascript"></script>
    <link href="css/index.css" rel="stylesheet"/>
</head>
<body>
<div class="page-header">
    <div class="center  ">
    <img src="img/标题.png" class="img-responsive title"/>
    </div>

</div>
<div class="container">

    <div class="row">
        <h4 class="center">
            <small id="current-time">时间</small>
        </h4>
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation">
                            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">帮助说明</a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">开奖情况</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">历史情况</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade " id="tab1">
                            <p>
                                幸运生肖是一种在线即开型娱乐游戏，有12位生肖组汇而成，属于娱乐范畴，可以当做竞猜娱乐游戏进行，每五分钟系统将自动生成六个球开出，每期最多开出六位生肖，全天从上午十点到晚上十一点共开出156期，特此声明，本游戏仅用于娱乐。

                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade in active" id="tab2">
                            <div class="row">
                               <h3>第<span th:text="${period}"></span>期结果：</h3>
                            </div>
                            <div class="row">
                                <div th:each="result:${results}" class="col-md-2 col-xs-2 center">
                                    <img th:src="'img/'+${result}+'.png'" class="img-responsive "/>
                                </div>
                            </div>
                            <div class="row">
                                <h4 class="center">距下次开奖还剩:<span id="next-time"></span></h4>
                            </div>
                            <div class="row list">
                                <div class="panel panel-default list">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">今日开奖</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group">

                                            <li class="list-group-item">
                                                <div th:each="item:${today}" class="row">
                                                    <div class="left col-md-6 col-xs-6">第<span th:text="${item.period}"></span>期</div>
                                                    <div class="right col-md-6 col-xs-6"><span th:text="${item.result}"></span></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="panel panel-default list">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">昨日开奖</h3>
                                    </div>
                                    <div class="panel-body">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div th:each="item:${yesterday}" class="row">
                                                    <div class="left col-md-6 col-xs-6">第<span th:text="${item.period}"></span>期</div>
                                                    <div class="right col-md-6 col-xs-6"><span th:text="${item.result}"></span></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab3">
                            <table class="table table-hover table-bordered table-condensed">
                                <thead>
                                    <tr>
                                        <td>#</td>
                                        <td>总次数</td>
                                        <td>最大连出</td>
                                        <td>最大遗漏</td>
                                        <td>当前遗漏</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${statistics}">
                                        <td th:text="${item.name}">鼠</td>
                                        <td th:text="${item.total}"></td>
                                        <td th:text="${item.maxContinue}"></td>
                                        <td th:text="${item.maxLoss}"></td>
                                        <td th:text="${item.currentLoss}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var time=new Date(parseInt([[${time}]]));
    var nextTime=new Date(parseInt([[${nextTime}]]));
    $(document).ready(function () {
        updateTime();
        setInterval(updateTime, 1000);
    });
    function getTime(){
        return time.getFullYear() + "年" + (time.getMonth() + 1) + "月" + time.getDate() + "日  " + time.getHours() + "时" + time.getMinutes() + "分" + time.getSeconds() + "秒";
    }

    function updateTime() {
        time.setTime(parseInt(time.getTime())+1000);
        $('#current-time').text("当前时间："+getTime());
        if(nextTime.getTime()<=time.getTime()){
            location.reload();
        }
        var diff=new Date(nextTime.getTime()-time.getTime()+nextTime.getTimezoneOffset()*60000);

        $('#next-time').html((diff.getHours()) + "时"+diff.getMinutes() + "分" + diff.getSeconds() + "秒");
    }
    /*]]>*/
</script>
</html>